* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 5px;
    scroll-behavior: smooth;
}

body {
    font-size: 4rem;
    color: #888;
    font-family: 'Hubballi', cursive;
}

.title h3, .title h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.other, button {
    font-family: 'Syne Mono', monospace;
}

img {

    box-shadow: 3px 3px 3px rgb(136, 136, 136, 0.4);

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

::-webkit-scrollbar {
    display: none;
}

.hide {
    display: none !important;
}

button {
    display: inline-block;
    margin: 10px 10px 10px 0;
    border-radius: 30px;
    padding: 10px 20px;
    transition: .3s;
    background-color: #fff;
    border: 2px solid #222222;
}

button:hover {
    background-color: #222222;
    color: #fff;
}

/* Title 
    day: color: #222222;
    night: 
*/
/* Text 
    day: color: #888;
    night: 
*/
/* Background 
    day: color: #222222;
    night: 
*/
/* Navbar Background 
    day: color: #222222;
    night: 
*/
h2 {
    transition: .3s;
    font-size: 8rem;
    padding-bottom: 20px;
    color: #222222;
    padding-left: 10px;
}

h3 {
    display: block;
    color: #222222;
    font-size: 6rem;
    margin-bottom: 20px;
    width: 100%;

}

/* <<<<<<<<<<<<<<<<---RESPONSIVE--->>>>>>>>>>>> */

@media(max-width: 992px) {
    nav {
        /* position: absolute!important; */
        width: 0;
    }

    #navButton {
        visibility: visible !important;
        opacity: 1 !important;

    }

    #portfolioLinks {
        flex-wrap: wrap !important;
        width: 100%;
        max-width: 1050px !important;
    }

    #jobDetailPicture {
        min-width: 350px;

    }
}

/* <<<<<<<<<<<<<<<<---NAVBAR--->>>>>>>>>>>> */
nav {
    overflow: hidden;
    left: 0;
    float: left;
    height: 100vh;
    background-color: #272727;
    border-right: black 10px solid;
    position: fixed;
    transition: 1s;
    z-index: 1000;
}

#profilePicture {
    width: 70%;
    margin: 20px auto;

}

#profilePicture img {
    object-fit: cover;
    width: 100%;

    box-shadow: none;
}

/* Github link at the bottom of the navbar*/
#navLinks {
    margin: 70px auto;
    text-align: center;
    font-size: 6rem;
}

/* Page attributes at the nav bar */
nav li {
    text-align: center;
    transition: 1s;
    padding: 30px 0px 10px;
    font-size: 4.5rem;
    border-bottom: 2px solid #888;
    width: 70%;
    margin: 10px auto;
}

#scrollLinks a {
    transition: .3s;
    padding: 10px 15px;
    border-radius: 20px;
}

#scrollLinks a:hover {
    color: #eee;
}

.hover {
    color: #eee;
}

/* <<<<<<<<<<<<<<<<---MAIN--->>>>>>>>>>>> */

main {
    display: inline;
    float: right;
    height: 100vh;
    transition: .9s;
}

#navButton {
    position: fixed;
    background-color: #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 20px;
    top: 20px;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
}

#navButton i {
    font-size: 6rem;

}


#navButton:hover {
    cursor: pointer;
}

#navButton:hover {
    cursor: pointer;
}

#scroll section:nth-child(even) {
    background-color: #f6f6f6;
}

#scroll section:nth-child(odd) {
    background-color: #fff;
}

section {
    padding: 80px 50px;
    display: block;
    width: 100%;

}

/* <<<<<<<<<<<<<<<<---HOMEPAGE--->>>>>>>>>>>> */
#homePage {
    background-color: transparent;
    position: relative;
    text-align: center;
    height: 716px;
    color: #eee;
}

#homePage h2 {
    color: #eee;
}

#homePageBG {
    left: 0;
    top: 0;
    position: absolute;
    background-image: url(snow.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8 !important;
    width: 100%;
    height: 100%;
}

#homePicture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, 0);
    left: 50%;
    height: 100%;
    position: absolute;
    z-index: 5;

}

#homeProfile {
    object-fit: cover;
    width: 250px;
    margin-bottom: 20px;
    box-shadow: none;
}

#homeJob {
    padding-bottom: 100px;
    display: flex;
    overflow: hidden;
    font-size: 5rem;
    font-weight: 700;

}

#homeJob span {

    flex: 0 0 45px;
    margin-right: 7px;
    overflow: hidden;

}

#changeJob {

    position: relative;
    width: 155px;
    height: 30px;
    overflow: hidden;
    transition: ease-out .6s;
}

#changeJob ul {
    position: absolute;
    display: flex;
    width: 200px;

}

#changeJob li {
    flex: 0 0 135px;
    display: inline-block;
    height: 30px;
    position: absolute;
    left: 0;

}

#homeDownArrowSub {
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .3s;
}

#homeDownArrow {
    overflow: hidden;
    height: 90px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 20px;
    color: #eee;
    font-size: 8rem;
    transition: .3s ease-out;
    z-index: 10;
}

#homeDownArrowSub:hover>i {
    height: 10px;
    cursor: pointer;
    color: #222222;
}

#homeDownArrow:hover {
    height: 100px;
}

#homeDownArrow i {
    height: 0px;
    transition: .3s;
}

/* <<<<<<<<<<<<<<<<---ABOUTPAGE--->>>>>>>>>>>> */
#aboutDetails {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#aboutImg {
    padding: 0 10px;
}

#aboutDetails img {
    width: 100%;
    margin-bottom: 20px;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 10px;
}

#aboutInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0 30px 0;
}

#aboutInfo span {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}

#downloadButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
}

#downloadButtons button {
    margin-right: 0;
    padding: 0;
}

/* <<<<<<<<<<<<<<<<---PORTFOLIOPAGE--->>>>>>>>>>>> */
#portfolioPage {
    position: relative;
}

#portfolioPage .fa-circle-xmark {
    position: absolute;
    font-size: 10rem;
    right: 10px;
}

/* ========================================= */
#jobDetail {
    transition: .3s;
    opacity: 0;

}

#specificJob {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#specificJob h3 {
    padding-left: 10px;
}

#jobDetailPicture {
    min-height: 200px;
    position: relative;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto 20px;
    position: relative;
}

#jobDetailPicture i {
    position: absolute;
    width: 20px;
    height: 40px;
    transition: .5s;
    width: 20px;
    display: flex;
    align-items: center;
    z-index: 10;
    justify-content: center;
    margin: 10px 0;
    border-radius: 20px;
    transform: translate(0, -50%);
    top: 50%;
    font-size: 6rem;
}

#jobDetailPicture .fa-angle-left {
    left: 10px;
}

#jobDetailPicture .fa-angle-right {
    right: 14px;
}

#jobDetailPicture i:hover {
    width: 40px;
    color: #eee;
    cursor: pointer;
}



#carousel {
    display: flex;
    width: 303%;
    flex-wrap: nowrap;
    flex: content;
    transition: 2s;
    position: absolute;
    left: 0;
}

#carousel img {
    width: 33%;
    min-height: 200px;
    height: auto;
    padding: 10px;
    box-shadow: none;

}

#pointer {
    display: flex;
    position: absolute;
    bottom: -5px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;

}

#pointer i {
    font-size: 2rem;
    position: relative;
    height: 0px;

}

.on {
    color: black;
}

.off {
    color: rgb(201, 201, 201);
}

#pointer i:hover {
    color: #000000;
}

#jobDetailFeatures div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0 10px;
}

#jobDetailText {
    padding: 0 10px;
}

#jobDetailLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jobDetailLink a:hover {
    background-color: #222222;
    color: #fff;
}

#jobDetailLink a {
    background-color: #fff;
    color: #222222;
    padding: 5px 10px;
    transition: .3s;
    border-radius: 8px;
}

/* ///////////////////////////////////////////////////////// */

#portfolioLinks {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex: content;
    transition: 1s;
    justify-content: space-between;
    padding: 0;
    z-index: 2;
}

#portfolioLinks li {
    background-size: contain;
    height: fit-content;
    background-repeat: no-repeat;
    transition: .5s;
    border: 10px solid transparent;
    position: relative;

}

#portfolioLinks li img {
    width: 100%;
    outline: #ddd 2px solid;
}

#portfolioLinks:hover {
    left: 0px;
}

#portfolioLinks a {
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    background-color: black;
    color: white;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
    transition: .5s;
    display: flex;
    position: absolute;
    z-index: 10;
}

#portfolioLinks a:hover {

    opacity: .8;
}

#portfolioLinks span {
    padding-bottom: 80px;
    z-index: -1;
    position: absolute;
}

#current{
    margin: 30px 10px;
}
/* <<<<<<<<<<<<<<<<---SKILLSPAGE--->>>>>>>>>>>> */

#skillsDetails {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#skillsDetails p {
    padding: 0 10px;
}

#skillsPage ul {
    height: 70%;
    padding: 0 10px;
}

#skillsPage li {
    height: 80px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#skillsPage span {
    height: 18px;
}

#skillsPage li p {

    margin: 15px 0;
    width: 100%;
    border: 2px black solid;
    height: 6px;
    background-color: transparent;
    position: relative;
}

#skillsPage li p span {
    top: -1px;
    left: -1px;
    display: inline-block;
    position: absolute;
    background-color: black;
    height: 4px;
}

/* <<<<<<<<<<<<<<<<---CONTACTPAGE--->>>>>>>>>>>> */


#contactDetails {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
}

#contactDetails h3 {
    text-align: center;
}

#contactInfo {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#contactInfo li {

    text-align: center;
    margin: 20px 0;
}

#contactInfo i {
    background: rgb(109, 109, 109);
    background: linear-gradient(180deg, rgba(109, 109, 109, 1) 0%, rgb(165, 164, 164) 100%);
    font-size: 40px;
    width: 80px;
    height: 80px;
    line-height: 77px;
    border-radius: 40px;
    color: #eee;
    margin-bottom: 10px;
    transition: .5s;
}

#contactInfo i:hover {
    transform: rotateZ(360deg);
}
#contactInfo p{
    transition: .5s;
}
#contactInfo p:hover {
    font-weight: bold;
    font-size: larger;
}
#contactLinks {
    padding: 0;
    display: flex;
    font-size: 7rem;
    width: 80px;
    justify-content: space-between;
}


/* #sendMessage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    height: 400px;
    position: relative;
}

#sendMessage input {
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 45%;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #888;
}

#sendMessage input:focus {
    outline: none;
    border-bottom-width: 2px;
}

#sendMessage textarea {
    height: 130px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #888;
   
}

#sendMessage textarea:focus {
    outline: none;
} */

/* <<<<<<<<<<<<<<<<---FOOTER--->>>>>>>>>>>> */

footer {
    width: 100%;
    height: 300px;
    background-color: #eee;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

#footerLogo img {
    object-fit: cover;
    width: 150px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: none;

}

#footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}

#footerLinks li {
    padding: 0 10px;
}

.open {
    width: 374px;
}

/*  */